@import "tailwindcss";

@theme {
  /*--color-*: initial;*/
  --color-borderc:#e4e7ee; 
  --color-grey: #F9FAFB;
  --color-blue: #2463EB;
  --color-lightext: #9CA3AF;
  --color-darktext: #4B5563;
}

@theme {
  --font-title: "Righteous", sans-serif; 
  --font-general: "Joan", sans-serif;
}
