@import "tailwindcss";

@theme {
  /*--color-*: initial;*/
  --color-borderc: #e4e7ee;
  --color-grey: #f9fafb;
  --color-blue: #2463eb;
  --color-lightext: #9ca3af;
  --color-darktext: #4b5563;
}

@theme {
  --font-title: "Righteous", sans-serif;
  --font-general: "Joan", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

*{
  transition: all 0.1s;
  transition-duration: 150ms;
}